<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <email endereco="renan.costa.ti@gmail.com" conteudo="Clique aqui para nos enviar um e-mail"></email>
        </p>
    </div>
</div>