@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h2>Os preferidos da semana</h2>
<h4>tá com fome?!</h4>

<div class="row">
    @foreach (var item in Model.LanchesPreferidos)
    {
        @await Html.PartialAsync("_LanchesResumo", item)
    }
    </div>